---
import { Image } from "astro:assets";
const {
    title,
    description,
    link,
    linkText,
    imageSrc,
    isFirstSection = false,
    imgRight,
    className
} = Astro.props;
---

<div
    class={`container mx-auto flex flex-col md:flex-row gap-8 items-center pb-24 ${imgRight ? "" : "md:flex-row-reverse"} ${className}`}
>
    <div class="mb-0 md:w-1/2">
        {isFirstSection && <h1 class="font-serif text-4xl text-primary">Welcome</h1>}
        <h1 class="mb-6 text-5xl font-bold leading-[53px] text-secondary">{title}</h1>
        <p class="text prose mb-6">{description}</p>
        {
            link && (
                <a
                    href={link}
                    class="grow rounded-lg bg-primary p-4 text-white hover:bg-teal-600 md:w-auto"
                >
                    {linkText}
                </a>
            )
        }
    </div>
    <div class="md:w-1/2">
        <Image
            src={imageSrc}
            alt="hero"
            width={1600}
            height={700}
            format="webp"
            class="rounded-lg shadow-lg"
        />
    </div>
</div>
