---
import { Image } from "astro:assets";

import MainLayout from "@/layouts/main-layout.astro";
import { heroExperiencesImg, home6Img, home14Img, hw2Img, bannerImg } from "@/assets/images";
import MaxWidthContainer from "@/components/astro/max-width-container.astro";
import Logo2White from "@/components/icons/logo2-white.astro";
import SectionHeader from "@/components/astro/section-header.astro";
import ExperiencesSection from "@/components/astro/experiences-section.astro";
---

<MainLayout title="Experiences | Beach Management Nosara">
    <section id="hero" class="relative h-[66vh] overflow-hidden">
        <div class="absolute inset-0">
            <div class="h-full w-full bg-gray-400">
                <Image src={heroExperiencesImg} alt="banner" class="h-full w-full object-cover" />
            </div>
            <!-- Overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-black via-black/80 to-black/10">
            </div>
        </div>

        <MaxWidthContainer>
            <div class="relative flex h-full flex-col justify-center">
                <div class="flex items-center">
                    <div class="hidden border-t border-primary lg:block lg:w-1/5 lg:max-w-[4rem]">
                    </div>
                    <span
                        class="border-b-2 border-primary pb-2 text-sm font-semibold uppercase tracking-widest text-primary lg:ml-4 lg:border-none lg:pb-0"
                    >
                        Nosara Experiences
                    </span>
                </div>
                <h1 class="my-4 w-full text-4xl leading-tight lg:w-3/4 lg:text-5xl">
                    Where wellness, surf, yoga, and adventure meet
                </h1>
            </div>
        </MaxWidthContainer>
    </section>

    <section id="sub-hero-experiences">
        <div class="relative">
            <div class="absolute inset-0">
                <div class="h-full w-full">
                    <Image src={bannerImg} alt="banner" class="h-full w-full object-cover" />
                </div>
                <!-- Overlay 👇 -->
                <div class="absolute inset-0 bg-gradient-to-t from-black via-black/80 to-black/10">
                </div>
            </div>
            <MaxWidthContainer>
                <div class="relative z-10 flex flex-col items-center gap-16 py-10 lg:flex-row">
                    <div>
                        <Logo2White class="mx-auto size-64" />
                    </div>
                    <div class="space-y-3">
                        <div>
                            <div class="flex items-center">
                                <div class="w-1/5 border-t border-secondary lg:max-w-[4rem]"></div>
                                <span
                                    class="ml-4 text-base font-semibold uppercase tracking-widest text-secondary"
                                >
                                    Unparalleled, Stress-Free
                                </span>
                            </div>
                            <h2 class="text-4xl font-semibold">Concierge Guest</h2>
                        </div>
                        <p class="text-pretty text-xl font-light lg:text-2xl">
                            Beach Management Nosara offers services that are unparalleled to other
                            property management companies. Beach Management Nosara offers
                            full-service event planning and catering for guests who book with them
                            to ensure your vacation experience is unforgettable.
                        </p>
                        <div class="mt-6 flex justify-center lg:justify-start">
                            <a
                                href="/contact"
                                class="block transform rounded-lg bg-primary px-6 py-3 text-white transition-all duration-300 hover:scale-[1.02] hover:bg-primary/70"
                            >
                                Inquire Now
                            </a>
                        </div>
                    </div>
                </div>
            </MaxWidthContainer>
        </div>
    </section>

    <ExperiencesSection>
        <Fragment slot="image">
            <Image src={hw2Img} alt="banner" class="h-full w-full object-cover" />
        </Fragment>
        <Fragment slot="header">
            <SectionHeader>
                <Fragment slot="background-text">Experiences</Fragment>
                <Fragment slot="heading">Experiences</Fragment>
            </SectionHeader>
        </Fragment>
        <Fragment slot="content">
            <div class="prose mt-6 space-y-6 text-gray-200">
                <p>
                    Nosara has established itself as a premier destination for health and wellness
                    enthusiasts, with a thriving active community, rich natural surroundings, and a
                    wealth of healthy food options. It is located in one of the world's five Blue
                    Zones, known for having a high concentration of centenarians and a culture that
                    promotes longevity and well-being.
                </p>
                <p>
                    Yoga and surfing are integral components of the Nosara lifestyle, with numerous
                    studios throughout the town offering daily classes, and consistent, high-quality
                    surfing conditions available year-round. When it comes to food, visitors can
                    find delicious and nourishing meals to fuel their bodies and support their
                    well-being, from smoothie bowls to fresh seafood.
                </p>
            </div>
        </Fragment>
    </ExperiencesSection>

    <ExperiencesSection>
        <Fragment slot="image">
            <Image src={home6Img} alt="banner" class="h-full w-full object-cover" />
        </Fragment>
        <Fragment slot="header">
            <SectionHeader>
                <Fragment slot="background-text">Adventures</Fragment>
                <Fragment slot="heading">Local Adventures</Fragment>
            </SectionHeader>
        </Fragment>
        <Fragment slot="content">
            <ul class="prose mt-6 list-disc space-y-1 pl-8 text-gray-200">
                <li>Surf Lessons</li>
                <li>Kayaking and SUP</li>
                <li>Horesback Riding</li>
                <li>Fishing and Boating</li>
                <li>ATV Tours</li>
                <li>Waterfalls</li>
                <li>Zip Line Canopy Tour</li>
                <li>Ostional Turtle Refuge</li>
                <li>Nature Tours</li>
            </ul>
        </Fragment>
    </ExperiencesSection>

    <ExperiencesSection>
        <Fragment slot="image">
            <Image src={home14Img} alt="banner" class="h-full w-full object-cover" />
        </Fragment>
        <Fragment slot="header">
            <SectionHeader>
                <Fragment slot="background-text">Services</Fragment>
                <Fragment slot="heading">Home Services & More</Fragment>
            </SectionHeader>
        </Fragment>
        <Fragment slot="content">
            <ul class="prose mt-6 list-disc space-y-1 pl-8 text-gray-200">
                <li>Private Fitness Classes</li>
                <li>At-Home Massage Therapy</li>
                <li>Photography Session</li>
                <li>Personal Chef</li>
                <li>Catering & Bartenders</li>
                <li>Grocery Shopping</li>
                <li>Childcare & Babysitting</li>
                <li>Spanish Lessons</li>
                <li>Restaurant Reservations</li>
                <li>ATV, Golf Cart, and Car Rentals</li>
            </ul>
        </Fragment>
    </ExperiencesSection>
</MainLayout>
