---
import { Image } from "astro:assets";
import { CircleCheckIcon } from "lucide-react";

import PageHero from "@/components/astro/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import FeatureShowcase from "@/components/astro/feature-showcase.astro";
import Section from "@/components/astro/section.astro";
import FeatureHighlight from "@/components/astro/feature-highlight.astro";
import CustomLink from "@/components/astro/custom-link.astro";
import {
    aboutImg1,
    aboutImg2,
    aboutImg3,
    aboutImg4,
    aboutImg5,
    aboutImg6,
    aboutImg7,
    aboutImg8,
    aboutImg9,
    aboutImg10,
    guest2Img,
    heroHospitalityImg
} from "@/assets/images";
import { sections } from "@/data/hospitality-data.json";

const showcaseImages = [aboutImg1, aboutImg2, aboutImg3];
---

<MainLayout>
    <main>
        <PageHero image={heroHospitalityImg} title="Hospitality" subtitle="Guest" />

        <FeatureShowcase images={showcaseImages}>
            <Fragment slot="subtitle">Unparalleled, Stress-Free</Fragment>
            <Fragment slot="title"> Concierge Guest Services </Fragment>
            <Fragment slot="description">
                Beach Management Nosara offers services that are unparalleled to other property
                management companies. Beach Management Nosara offers full-service event planning and
                catering for guests who book with them to ensure your vacation experience is
                unforgettable.
            </Fragment>
        </FeatureShowcase>

        <Section>
            <Fragment slot="title">Home Services</Fragment>

            <Fragment slot="content">
                <FeatureHighlight>
                    <Fragment slot="content">
                        <p>{sections.home_services.paragraph}</p>

                        <ul class="mt-6 space-y-2">
                            {
                                sections.home_services.perks.map(perk => (
                                    <li>
                                        <CircleCheckIcon className="size-4 text-primary inline-block mr-2" />
                                        <span>{perk}</span>
                                    </li>
                                ))
                            }
                        </ul>
                    </Fragment>
                    <Fragment slot="image">
                        <Image
                            src={aboutImg4}
                            alt="about image 4"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-2/3"
                            width={320}
                            height={250}
                        />
                    </Fragment>
                </FeatureHighlight>
            </Fragment>
        </Section>

        <Section isAlternate>
            <Fragment slot="title">Fitness, Health & Beauty</Fragment>

            <Fragment slot="content">
                <FeatureHighlight>
                    <Fragment slot="content">
                        <p>{sections.fitness_health_beauty.paragraph}</p>

                        <ul class="mt-6 space-y-2">
                            {
                                sections.fitness_health_beauty.perks.map(perk => (
                                    <li>
                                        <CircleCheckIcon className="size-4 text-primary inline-block mr-2" />
                                        <span>{perk}</span>
                                    </li>
                                ))
                            }
                        </ul>
                    </Fragment>
                    <Fragment slot="image">
                        <Image
                            src={aboutImg5}
                            alt="about image 5"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-2/3"
                            width={320}
                            height={250}
                        />
                    </Fragment>
                </FeatureHighlight>
            </Fragment>
        </Section>

        <Section>
            <Fragment slot="title">Rentals & Bookings</Fragment>

            <Fragment slot="content">
                <FeatureHighlight>
                    <Fragment slot="content">
                        <p>{sections.rentals_bookings.paragraph}</p>

                        <ul class="mt-6 space-y-2">
                            {
                                sections.rentals_bookings.perks.map(perk => (
                                    <li>
                                        <CircleCheckIcon className="size-4 text-primary inline-block mr-2" />
                                        <span>{perk}</span>
                                    </li>
                                ))
                            }
                        </ul>
                    </Fragment>
                    <Fragment slot="image">
                        <Image
                            src={aboutImg6}
                            alt="about image 6"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-2/3"
                            width={320}
                            height={250}
                        />
                    </Fragment>
                </FeatureHighlight>
            </Fragment>
        </Section>

        <Section isAlternate>
            <Fragment slot="title">Activities & Tours</Fragment>

            <Fragment slot="content">
                <FeatureHighlight>
                    <Fragment slot="content">
                        <p>{sections.activities_tours.paragraph}</p>

                        <ul class="mt-6 space-y-2">
                            {
                                sections.activities_tours.perks.map(perk => (
                                    <li>
                                        <CircleCheckIcon className="size-4 text-primary inline-block mr-2" />
                                        <span>{perk}</span>
                                    </li>
                                ))
                            }
                        </ul>
                    </Fragment>
                    <Fragment slot="image">
                        <Image
                            src={guest2Img}
                            alt="guest 2 image"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-2/3"
                            width={320}
                            height={250}
                        />
                    </Fragment>
                </FeatureHighlight>
            </Fragment>
        </Section>

        <Section>
            <Fragment slot="title">Special Requests</Fragment>

            <Fragment slot="content">
                <FeatureHighlight>
                    <Fragment slot="content">
                        <p>{sections.special_requests.paragraph}</p>

                        <ul class="mt-6 space-y-2">
                            {
                                sections.special_requests.perks.map(perk => (
                                    <li>
                                        <CircleCheckIcon className="size-4 text-primary inline-block mr-2" />
                                        <span>{perk}</span>
                                    </li>
                                ))
                            }
                        </ul>
                    </Fragment>
                    <Fragment slot="image">
                        <Image
                            src={aboutImg7}
                            alt="about image 7"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-2/3"
                            width={320}
                            height={250}
                        />
                    </Fragment>
                </FeatureHighlight>
            </Fragment>
        </Section>

        <Section>
            <Fragment slot="title">Group Events & Large Gatherings</Fragment>
            <Fragment slot="content">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    <div class="p-4">
                        <Image src={aboutImg8} alt="relationship icon" class="mx-auto size-48" />
                        <h3 class="my-3 text-center text-xl font-semibold">
                            Weddings & Bachelor/Bachelorettes
                        </h3>
                        <p class="prose-sm text-pretty text-center">
                            If you are planning a wedding, bachelor or bachelorette, we will take
                            the stress out of your hands! Catering, activities, events, and much
                            more can be arranged with our concierge services.
                        </p>
                    </div>
                    <div class="p-4">
                        <Image src={aboutImg9} alt="relationship icon" class="mx-auto size-48" />
                        <h3 class="my-3 text-center text-xl font-semibold">
                            Social Gatherings/Retreats
                        </h3>
                        <p class="prose-sm text-pretty text-center">
                            Beach Management Nosara has relationships with the best of everything in
                            Costa Rica! If you are looking for surf schools, yoga retreats,
                            corporate retreats or anything else, our guest services team can help
                            arrange the perfect trip.
                        </p>
                    </div>
                    <div class="p-4">
                        <Image src={aboutImg10} alt="relationship icon" class="mx-auto size-48" />
                        <h3 class="my-3 text-center text-xl font-semibold">Family Getaways</h3>
                        <p class="prose-sm text-pretty text-center">
                            For large families or groups of friends, Beach Management Nosara can
                            arrange buffet-style breakfasts prepared each morning, to in-house chefs
                            for fine dining without having to leave the comfort of your own
                            mini-resort!
                        </p>
                    </div>
                </div>
                <div class="mt-6 flex justify-center">
                    <CustomLink href="/homes"> Plan your vacation stress free </CustomLink>
                </div>
            </Fragment>
        </Section>
    </main>
</MainLayout>
