---
import { Image } from "astro:assets";

import MainLayout from "@/layouts/main-layout.astro";
import PageHero from "@/components/astro/page-hero.astro";
import FeatureShowcase from "@/components/astro/feature-showcase.astro";
import Section from "@/components/astro/section.astro";
import {
    heroServicesImg,
    reliableImg2,
    reliableImg3,
    reliableImg4,
    reliableImg5,
    reliableImg8
} from "@/assets/images";
import { RelationshipIcon, ReputationIcon, SuccessIcon } from "@/assets/icons";
import CustomLink from "@/components/astro/custom-link.astro";

const images = [reliableImg2, reliableImg3, reliableImg4];
---

<MainLayout title="Services | Beach Management Nosara">
    <main class="mx-auto">
        <PageHero
            image={heroServicesImg}
            title="Management Services"
            subtitle="Reliable Property Management"
        />

        <FeatureShowcase images={images}>
            <Fragment slot="subtitle"> Beach Management </Fragment>
            <Fragment slot="title">
                We offer professional management services to the finest vacation homes in our area.
            </Fragment>
            <Fragment slot="description">
                At Beach Management Nosara, we take our role as a responsible sterwards and keeper
                of your property very seriously. Our comprehensive suite of property and rental
                management services is designed to meet your expectations and safeguard your luxury
                investment.
            </Fragment>
        </FeatureShowcase>

        <Section id="rent-your-property">
            <Fragment slot="title">Our Promise</Fragment>

            <Fragment slot="content">
                <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
                    <div class="space-y-3">
                        <p class="prose">
                            We are committed to providing top-quality management of your luxury
                            home, ensuring that it remains in stunning condition, both inside and
                            out, even in the tropical and ever-changing coastal climate. Our
                            services include, but are not limited to, meticulous landscaping,
                            routine care for your pool, and regular housekeeping.
                        </p>
                        <p class="prose">
                            We understand the importance of maintaining the highest standards of
                            security for your property, which is why we take all necessary measures
                            to keep it safe and secure at all times. Our team of experts is
                            dedicated to delivering unparalleled service, with a focus on attention
                            to detail and personalized care.
                        </p>
                        <p class="prose">
                            With our wealth of experience and in-depth knowledge of the local
                            market, you can trust that your property is in the best hands possible.
                        </p>
                    </div>
                    <div class="flex justify-center self-center">
                        <Image
                            src={reliableImg5}
                            alt="reliable five"
                            class="h-auto w-full rounded-lg object-cover shadow-lg lg:w-4/5"
                        />
                    </div>
                </div>
            </Fragment>
        </Section>

        <Section isAlternate>
            <Fragment slot="title">Rent Your Property</Fragment>

            <Fragment slot="content">
                <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
                    <div class="space-y-3">
                        <p class="prose">
                            Our comprehensive suite of services revolves around your home and is
                            aimed at generating consistent guest reservations and increasing your
                            rental returns.
                        </p>
                        <p class="prose">
                            Our skilled team is dedicated to ensuring constant marketing and
                            promotion of your property, as well as promptly responding to guest
                            inquiries, answering questions, and following up to excite potential
                            renters and ensure a seamless and personable reservation process.
                        </p>
                        <p class="prose mb-4">
                            Once guests arrive, we provide a range of services to ensure their
                            complete satisfaction throughout their stay. Our focus is on delighting
                            guests and providing exceptional service that exceeds their
                            expectations, encouraging their return.
                        </p>
                        <p class="prose mb-4">
                            We offer full guest services and assistance with vacation activities.
                        </p>
                        <div class="mt-6">
                            <CustomLink href="/contact"> Inquire Now </CustomLink>
                        </div>
                    </div>
                    <div class="flex justify-center self-center">
                        <Image
                            src={reliableImg8}
                            alt="reliable eight"
                            class="h-auto w-full rounded-lg object-cover lg:w-2/5"
                        />
                    </div>
                </div>
            </Fragment>
        </Section>

        <Section>
            <Fragment slot="title">Why Choose Us?</Fragment>

            <Fragment slot="content">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    <div class="p-4">
                        <Image
                            src={RelationshipIcon}
                            alt="relationship icon"
                            class="mx-auto size-24"
                        />
                        <h3 class="mb-3 text-center text-xl font-semibold">
                            Meaningful and Trusting Relationships
                        </h3>
                        <p class="prose-sm text-pretty text-center">
                            We prioritize gaining the confidence of our homeowners and go above and
                            beyond by paying close attention to their needs. We value the trust that
                            our clients place in us and strive to exceed their expectations through
                            our commitment to excellence. By choosing us, you can rest assured that
                            we are dedicated to building a strong and reliable partnership with you.
                        </p>
                    </div>
                    <div class="p-4">
                        <Image
                            src={ReputationIcon}
                            alt="relationship icon"
                            class="mx-auto size-24"
                        />
                        <h3 class="mb-3 text-center text-xl font-semibold">
                            Your Reputation is Our Reputation
                        </h3>
                        <p class="prose-sm text-pretty text-center">
                            Our focus on providing exceptional guest experiences not only
                            contributes to our own reputation but also has the potential to impact
                            your rental home's future bookings and referrals. As your trusted
                            property management partner, we recognize the significance of upholding
                            the highest standards of guest satisfaction.
                        </p>
                    </div>
                    <div class="p-4">
                        <Image src={SuccessIcon} alt="relationship icon" class="mx-auto size-24" />
                        <h3 class="mb-3 text-center text-xl font-semibold">
                            Long History of Success and Satisfaction
                        </h3>
                        <p class="prose-sm text-pretty text-center">
                            We are fully committed to meeting and exceeding your expectations. With
                            a proven track record of success and satisfied clients, we believe that
                            you deserve nothing but the best service for each and every rental. Our
                            objective is to deliver exceptional service that reflects our decades of
                            experience in managing leisure real estate across North America.
                        </p>
                    </div>
                </div>
                <div class="mt-6 flex justify-center">
                    <CustomLink href="/contact"> Inquire Now </CustomLink>
                </div>
            </Fragment>
        </Section>
    </main>
</MainLayout>
